<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="product">
	<div class="row g-2 align-items-center">
		<!-- 검색 조건들 묶음 -->
		<div
			class="col-12 col-lg-auto d-flex flex-wrap align-items-center gap-2">
			<!-- 키워드 -->
			<input type="text" class="form-control" placeholder="제품명 또는 거래처"
				id="productKeyword" style="width: 200px;">
			<!-- 조회 버튼 -->
			<button class="btn btn-outline-primary" id="search">검색</button>
		</div>
		<div class="col-12 col-lg d-flex justify-content-end">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter" 
				id="prdRegistBtn" sec:authorize="hasAnyRole('SYS_ADMIN', 'LOG_ADMIN')">
				출고등록
			</button>
		</div>
	</div>
	<br>
	<div class="card-body p-0">
		<div id="productGrid"></div>
	</div>
	<br>
</th:block>