<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="product">
	<div class="row g-2 align-items-center">
		<!-- 검색 조건들 묶음 -->
		<div
			class="col-12 col-lg d-flex align-items-center gap-2">
			<!-- 키워드 -->
			<input type="text" class="form-control" placeholder="완제품명 또는 완제품 코드를 입력해주세요"
				id="productKeyword" style="width: 65%;">
			<!-- 조회 버튼 -->
			<button class="btn btn-outline-primary" id="productSearch">검색</button>
		</div>
		<div class="col-12 col-lg d-flex justify-content-end gap-2">
			<button type="button" class="btn btn-primary"
				id="prdRegistBtn" sec:authorize="hasAnyRole('MES_MANAGER','SYS_ADMIN')">추가
			</button>
			<button type="button" class="btn btn-success"
				id="prdSaveBtn" sec:authorize="hasAnyRole('MES_MANAGER','SYS_ADMIN')">저장
			</button>
		</div>
	</div>
	<br>
	<div class="card-body p-0">
		<div id="productGrid"></div>
	</div>
	<th:block layout:fragment="myScript">
		<script type="text/javascript"
			src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script th:src="@{/js/masterData/productGrid.js}"></script>
	</th:block>
</th:block>