<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeoun.masterData.mapper.BomMstMapper">

	<select id="findByPrdIdList" resultType="com.yeoun.outbound.dto.OutboundOrderItemDTO">
		SELECT
			p.PRD_CODE AS prdId
			, m.MAT_CODE AS matId
			, bi.bom_QTY AS matQty
			, bi.bom_UNIT AS matUnit
			, p.PRD_NAME
			, m.MAT_NAME
		FROM
			BOM_ITEM bi
		LEFT JOIN
			MATERIAL m
		ON
			bi.MAT_ID = m.MAT_ID
        LEFT JOIN
            BOM b
        ON
            b.bom_id = bi.bom_id
        LEFT JOIN
			PRODUCT p
		ON
			b.PRD_ID = p.PRD_ID
		WHERE b.PRD_ID = (
		    SELECT p.PRD_ID
		    FROM PRODUCT p
		    WHERE p.PRD_CODE = #{prdCode}
		)
		AND 
			b.USE_YN = 'Y'
	</select>
</mapper>





